.env
.DS_Store
*.dataless-backup
config/state.json
logs/*
!logs/.gitkeep
screenshots/*
!screenshots/.gitkeep
reports/*
!reports/.gitkeep
node_modules
work/chrome-profile/*
!work/chrome-profile/.gitkeep
work/chrome-debug-profile/*
!work/chrome-debug-profile/.gitkeep
work/chrome-automation-profile/*
!work/chrome-automation-profile/.gitkeep
